@import '../../styles/mixins.scss';
@import '../../styles/media.scss';
@import '../../styles/variables.scss';

.card{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  list-style-type: none;
  width: 392px;
  height: 260px;
  &--dark{
    .card{
      &__block{
        background-color: $primary-black;
      }
      &__info{
        color:  $accent-gold;
        &::after{
          background-color: $accent-gold;
        }
      }
      &__date{
        color: $accent-gold;
      }
      &__name{
        color: $primary-white;
      }
    }
  }
  &--small{
    .card{
      &__block{
        padding: 8px;
      }
      &__arrow{
        opacity: 1;
      }
    }
  }
  &--medium{
    .card{
      &__block{
        padding: 12px;
      }
      &__arrow{
          opacity: 1;
      }
    }

  }
 
  @include mini-desktop{
    &:hover{
      .card__images{
          transform: scale(1.1);
      }
      .card__arrow{
          opacity: 1;
      }
    }
  }
  &__images{
    transition: 0.5s all;
  }
  &__block{
      position: absolute;
      width: 70%;
      padding: 20px;
      background-color: $primary-white;
      z-index: 10;
      bottom: 0px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    &::after{
        content: '';
        background-color: $accent-red;
        position: absolute;
        width: 2px;
        left: -20px;
        height: 100%;
    }
  }
  &__name{
    font-family: $font-cormorant;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $primary-black;
  }
  &__date{
    font-family: $font-inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $accent-red;
  }
  &__arrow{
    position: absolute;
    top: 0;
    right: -24px;
    width: 24px;
    height: 100%;
    @include flex-all-center;
    background-color: $accent-red;
    opacity: 0;
    transition: 0.5s all;
  }
}