@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font($font, $px: 0) {
  font-family: $font;
  @if $px != 0 {
    font-size: $px;
  }
}

@mixin hiddenElem {
  opacity: 0;
  visibility: hidden;
}

@mixin visibleElem {
  opacity: 1;
  visibility: visible;
}

@mixin svgChangeFill($fill) {
  svg {
    path {
      fill: $fill;
    }
  }
}

@mixin circle($wh, $backgroundColor) {
  width: $wh;
  height: $wh;
  border-radius: 100%;
  background-color: $backgroundColor;
}
