@font-face {
  font-family: 'Inter-Light';
  src: url('../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Cormorant-Medium';
  src: url('../fonts/Cormorant-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Cormorant-Bold';
  src: url('../fonts/Cormorant-Bold.woff') format('woff');
  font-weight: 700;
}
