@mixin flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin font-inter-700{
    font-weight: 700;
    font-family: $font-inter;
}
@mixin font-inter-500{
    font-weight: 500;
    font-family: $font-inter;
}
@mixin font-inter-300{
    font-weight: 300;
    font-family: $font-inter;
}
@mixin font-cormorant-500{
    font-weight: 500;
    font-family: $font-cormorant;
}
@mixin font-cormorant-700{
    font-weight: 700;
    font-family: $font-cormorant;
}
@mixin resetBtn{
    border: none;
}