@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font-inter($fontWeight, $px: 0) {
  font-family: $font-inter;
  font-weight: $fontWeight;
  @if $px != 0 {
    font-size: $px;
  }
}

@mixin font-cormorant($fontWeight, $px: 0) {
  font-family: $font-cormorant;
  font-weight: $fontWeight;
  @if $px != 0 {
    font-size: $px;
  }
}

@mixin hiddenElem {
  opacity: 0;
  visibility: hidden;
}

@mixin visibleElem {
  opacity: 1;
  visibility: visible;
}

@mixin resetBtn {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: auto;
}

@mixin maxWidth1440 {
  @include xl {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@mixin svgChangeFill($fill) {
  svg {
    path {
      fill: $fill;
    }
  }
}

@mixin circle($wh, $backgroundColor) {
  width: $wh;
  height: $wh;
  border-radius: 100%;
  background-color: $backgroundColor;
}
