@import '../../styles';

.app {
  margin: 0 auto;
  height: 100%;
  .container{
    padding: 24px 20px;
    @include tablet{
        padding: 36px 20px;
    }
    @include miniDesktop{
        padding: 32px 100px;
    }
  }
  .main{  
    padding: 0 20px;
    @include miniDesktop{
      padding: 0 100px;
    }
    @include maxWidth1440;
  }
}

