@import '../../styles';

.layout {
  transition: 0.5s all;
}

.layout.dark {
  background-color: $primary-black;

  .header {
    &__logo {
      color: $primary-light-gray;
    }

    &__right {
      &-hamburger {
        color: $primary-light-gray;
      }

      &-menu {
        background-color: $primary-black;
      }

      &-mode,
      &-login,
      &-signup {
        color: $primary-light-gray;
      }
    }
  }
  .footer {
    border-color: $primary-light-gray;

    &__info {
      &-description,
      &-company {
        color: $primary-light-gray;
      }
    }
    &__social a {
      color: $primary-light-gray;
    }
  }
}
