@import '../../styles';

.lightTheme {
  position: relative;
  display: flex;
  margin-right: 10px;

  svg {
    position: relative;
    z-index: 10;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include circle(40px, $secondary-black);
  }
}
